<% if (user) { %>
  <a class="account-link" href="/cart">Cart<% if (cartCount > 0) { %> (<%= cartCount %>)<% } %></a>
  <a class="account-link" href="/profile">My Profile</a>
  <a class="account-link" href="/auth/logout">Logout</a>
<% } else { %>
  <a class="account-link" href="/auth/login">Login</a>
  <a class="account-link account-link--primary" href="/auth/register">Register</a>
<% } %>
